@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 15 67% 98%;
    --ring: 15 30% 74%;
    --input: 15 6% 91%;
    --muted: 195 28% 90%;
    --accent: 195 30% 74%;
    --border: 15 6% 91%;
    --popover: 15 67% 98%;
    --primary: 15 30% 74%;
    --secondary: 195 30% 74%;
    --background: 15 67% 98%;
    --foreground: 15 80% 0%;
    --destructive: 9 85% 30%;
    --card-foreground: 15 80% 0%;
    --muted-foreground: 195 6% 29%;
    --accent-foreground: 195 30% 14%;
    --popover-foreground: 15 80% 0%;
    --primary-foreground: 15 30% 14%;
    --secondary-foreground: 195 30% 14%;
    --destructive-foreground: 9 85% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 0 0% 11.76%;
    --ring: 69.66 88.74% 54.71%;
    --input: 15 0% 24.62%;
    --muted: 0 0% 15%;
    --accent: 0 0% 13.33%;
    --border: 0 0% 23.85%;
    --popover: 0 0% 7.45%;
    --primary: 69.66 88.74% 54.71%;
    --secondary: 0 0% 15.29%;
    --background: 0 0% 7.45%;
    --foreground: 0 0% 64.71%;
    --destructive: 9 85% 51%;
    --destructive-foreground: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --muted-foreground: 0 0% 60%;
    --accent-foreground: 195 0% 100%;
    --popover-foreground: 15 27% 100%;
    --primary-foreground: 15 0% 0%;
    --secondary-foreground: 0 0% 90.59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
